*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
   
}
.navbar{
    height:60px;
    width:100vw;
    background-color: #0f1111;
color:white;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
}

.nav-logo{
    height:40px;
    
    width:120px;
    display:flex;
    align-items:center;
    

}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:1px solid white;
}
.logo{
    height:40px;
    width:120px;
        display:flex;
      
        justify-content:center;
          align-items:center;
    
}
.logo img{
  height:40px;
    width:80px;
    padding:8px 2px 0px 0px ;
    margin-top:12px;
 
}
.nav-address{

height:40px;
width:75px;
padding:8px 2px 0px 0px ;

}

 .add-first{
    color:#cccccc;
    font-family:Arial ;
    font-size:0.85rem;
    margin-left:15px;
    flex-wrap:nowrap;
    width:65px;
 
 }
 .add-second{
    color:white;
    font-weight:bold;
    margin-left:7px;
   
 }
 .add-icon{
    display:flex;
    align-items:center;

 }
 
 .nav-address:hover{
border:1px solid white;
 }
 .nav-search{
    display:flex;
    flex-wrap:nowrap;
    border:2px solid transparent;
    width:400px;
    border-radius:0%;    
   height:40px;
   overflow:hidden;
   box-sizing:border-box;
 }
 select{
    width:40px;
     border-bottom-left-radius: 10%;
     border-top-left-radius: 10%;
 }
 .search-button{
    background-color:rgb(226, 161, 9);
    width:25px;
    position: relative;
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom-right-radius: 5%;
     border-top-right-radius: 10%;
     font-size:0.8rem;
 }
.language {
    width:80px;
    height:35px;
    display:flex;
    align-items:center;
     border-bottom-right-radius: 10%;
     border-top-right-radius: 10%;
    padding:0 8px;
    
      border:2px solid transparent;

}
.search{
    display:flex;
    
    width:100%;
    height:100%;
  
    
}
.language:hover{
border:2px solid white;
 }
 .nav-search{
    border-radius:30px;
 }
 .sign-in{
 
 width:142px;
 height:40px;
padding:8px 2px 0px 0px ;
  border:2px solid transparent;
 
 }
 .hello{
  width:90px;
  height:14px;
  display:flex;
  flex-wrap:nowrap;
  height:19px;
 }
.accounts{
    font-weight:bolder;
}
 
 .returns{
    width:76px;
    height:40px;
    border:2px solid transparent;
    padding:3px 2px 3px 0px;
 }
 .reutrns{
    width:58px;
    height:14px;
    display:flex;
    flex-wrap:nowrap;
    height:20px;
    padding-top:3px;

 }
 .orders{
    width:69px;
    height:15px;
    font-weight:bolder;
    display:flex;
    flex-wrap:nowrap;
 }
 .sign-in:hover{
    border:1px solid white;
 }
 .returns:hover{
    border:1px solid white;
 }
 .cart{

    display:flex;
    justify-content:center;
    align-items:center;
    height:50px;
    font-size:0.9rem;

    
    border:1px solid transparent;
   
    
 }
 .cart:hover{
    border:1px solid white;
 }
 .input{
    width:320px;
 }
.nav-search:hover{
    border:1px solid orangered;


}
.cart i{
    width:45px;
    height:20px;
padding-top:20px;
font-size:30px;
padding-top:1px;
padding-bottom:7px;
    
}
.carts{

padding:32px 7px 0px 0px;
    
}
.panel{
    background-color:#232F3E;
    color:#FFFFFF;
    display:flex;
    justify-content:space-evenly;
    height:29px;
    width:1220px;
    align-items:center;
}

a{
    color:#FFFFFF;
}
.fresh{
    font-size: medium;
}
.panel-opt{
    display:flex;
    justify-content:center;
    align-items:center;
}